/* GLOBAL */
:root{
    --brand-color:#d23669;
    --text-colo:#222;
    --bg-color:#fff;
    --outline-color:var(--brand-color);
    --font-family-text:"Arial",sans-serif;
    --font-family-heading:"Platino Linotype", serif;
}

.dark-mode{
    --bg-color:#222;
    --text-colo:#fff;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Arial",sans-serif;
    background-color: var(--bg-color);
    color: var(--text-colo);
    transition: background-color 0.4s ease, color 0.4s ease ;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: var(--brand-color);
}

*:focus{
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 700px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
    padding-bottom: 56px;
}

.site-header {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.site-header-logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-colo);
}
.site-header-light {
    margin-right: 12px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.author-img {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin-right: 16px;
    border-radius:50%;
    object-fit: cover;
}

.author-info {
    flex-grow: 1;
}

.articles {
    margin: 0;
    padding: 0;
    list-style: none;
}

.articles-item:not(:last-child) {
    margin-bottom: 32px;
}

.articles-title {
    margin: 0;
}

.articles-link {
    text-decoration: none;
}
.articles-excerpt {
}